<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File Page</title>
</head>
<body>
    <h1> Upload PDF File Page</h1>
    <a href="../">User Center</a>
    <div id="fileUpload_frame">
        
        <form action='{{ url_for('user.file_upload')}}' method="post" enctype = "multipart/form-data">
            <p><label class="label_input">File </label><input type="file" name="file" id="file" class="text_field"/></p>
            <p><label class="label_input">Upload </label><input type="submit" name="uploadbutton" id="uploadbutton"/></p>
            <p>{{msg}}</p>
        </form>
        <div>
            <h2> Sentiments of {{filename}}</h2>
            {% for line in result %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    </div>
    <div>
        <
    </div>
</body>
</html>