<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1> Register Page</h1>
    <a href="../">User Center</a>
    <div id="register_frame">
        
        <form action='{{ url_for('user.register') }}' method="post" >
            <p><label class="label_input">Username </label><input type="text" name="username" id="username" class="text_field"/></p>
            <p><label class="label_input">Password </label><input type="text" name="password" id="password" class="text_field"/></p>
            <p><label class="label_input">Confirmed Password </label><input type="text" name="repassword" id="repassword" class="text_field"/></p>
            <p></label><input type="submit" name="submitbutton" id="submitbutton"/></p>
            <p>{{msg}}</p>
        </form>
    </div>
</body>
</html>